.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

.campo-formulario {
  width: 100%;
}

.campo-completo {
  width: 100%;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

.example-spacer {
  flex: 1 1 auto;
}

.spinner-centro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
